h1 {
    font-family: $old-stanbard;
    font-weight: $bold;
    font-size: $xxx-large;
    color: $smoky-black;
}

h2 {
    font-family: $old-stanbard;
    font-weight: $bold;
    font-size: $x-large;
    color: $white;
}

h4 {
    font-family: $old-stanbard;
    font-weight: $bold;
    font-size: $x-large;
    color: $smoky-black;
}

p {
    font-family: $raleway;
    font-weight: $regular;
    font-size: $large;
    color: $granite-gray;
}